.block{
    -moz-box-sizing: border-box;
    height: inherit;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { 
        width: 0;

        background: transparent;
    }

    &:-webkit-scrollbar { 
        width: 0;

        background: transparent;
    }
}
