+e.A.link.js-toggle-link(href = "#" data-before-text= "Добавить в избранное"  data-after-text= "Убрать из избранного" data-main-class="buy-bar__link" data-text-node= "buy-bar__link-text")
    // Тут может быть сложная структура
    +e.link-text Добавить в избранное
    
//data-text-node не обязательный атрибут