ol{
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li{
        counter-increment: counter;

        &:after{
            content: counter(counter) ".";
        }
    }
}

ul{
    counter-reset: item;
    li{
        &:after{
            content: counter(item, decimal-leading-zero) " ";
            counter-increment: item;
        }
    }
}